* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: beige;
}
.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 10px;
  background-color: #350707dc;
  height: 450px;
  width: 800px;
}
h1 {
  font-size: 40px;
  padding-bottom: 30px;
  color: white;
}
.piano {
  background-color: rgba(0, 0, 0, 0.829);
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  width: 700px;
}
.piano .key {
  background-color: white;
  width: 80px;
  height: 200px;
  border: solid 1px lightgray;
  border-radius: 5px;
  transition: 0.3s;
}
.piano .key:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.top-keys {
  position: absolute;
  display: flex;
  gap: 40px;
}
.key_2 {
  position: relative;
  background-color: black;
  width: 50px;
  height: 135px;
  border: solid 1px black;
  border-radius: 5px;
  transition: 0.3s;
}
.key_2:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}
